<%- include('./partials/header.ejs')-%>
<form action="/getUser" method="post">
<div>
    <div class="title">
      <i class="fas fa-pencil-alt"></i> 
      <h2>Enter the Licence Number</h2>
    </div>
    <div class="info">
      <input type="text" name="licenceNumber" placeholder="Liecnce NUmber">
      
    </div>
    <button class="btn btn-primary" type="submit">Search User</button>
</div>
</form>

<div>
  <div class="title">
    <i class="fas fa-pencil-alt"></i> 
    <h2>User Information</h2>
  </div>
  <div class="info">
    <input type="text" name="firstName" placeholder="First name">
     <input type="text" name="lastName" placeholder="First name">
    <input type="text" name="age" placeholder="Age">
    <input type="date" name="dob" placeholder="Date Of Birth">
    <input type="text" name="carMake" placeholder="Car Make">
    <input type="text" name="carModel" placeholder="Car Model">
    <input type="text" name="carYear" placeholder="Year">
    <input type="text" name="licenceNumber" placeholder="Licence Number">
  
  </div>
</div>
</body>